<div style="display: flex;justify-content: center;">
    <p style="font-size: 25px; color: purple;"></p>
    <p>ngSwitch</p>
</div>
<div class="container">
    <div [ngSwitch]="userRole">
        <p *ngSwitchCase="'admin'">welcome admin</p>
        <p *ngSwitchCase="'user'">welcome user</p>
        <p *ngSwitchCase="'guest'">welcome guest</p>
        <p *ngSwitchDefault=>unkown role</p>
    </div>

    <mat-form-field>
        <mat-select [(ngModel)]="color">
            <mat-option value="Red">
                Red
            </mat-option>
            <mat-option value="Blue">
                BLUE
            </mat-option>
            <mat-option value="Green">
                Green
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div [ngSwitch]="color">
<p *ngSwitchCase="'Red'">you selected red</p>
<p *ngSwitchCase="'Blue'">you selected blue</p>
<p *ngSwitchCase="'Green'">you selected green</p>
    </div>
</div>